@mixin button($bg-color, $font-color) {
  width: 100px;
  padding: var(--space-sm) var(--space-xs);
  background-color: $bg-color;
  color: $font-color;
  border: none;
  border-radius: 15px;
  transition: 0.5s ease;
  cursor: pointer;
}

@mixin flex-colum {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-column-between {
  display: flex;
  justify-content: space-between;
}

@mixin grid-column-center {
  display: grid;
  justify-content: center;
}

@mixin grid-center {
  display: grid;
  place-items: center;
}
