@import "../abstracts/mixins";

.best-container {
  padding: var(--space-lg) 0;

  h3 {
    color: var(--color-dark-gray);
  }

  ul {
    @include grid-column-center;
    width: 100%;
    padding: var(--space-lg) 0;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: var(--space-xxxxs);

    li {
      background-color: var(--color-light-gray);
      padding: var(--space-md) var(--space-lg);

      a,
      strong,
      .detail,
      span {
        background-color: inherit;
      }

      a {
        display: flex;
        justify-content: center;

        .number_rank_top {
          font-size: var(--text-lg);
          color: var(--color-dark-blue);
        }

        .number_rank {
          font-size: var(--text-lg);
          color: var(--color-dark-gray);
        }

        .detail {
          @include flex-column-center;
          height: 100%;
          margin-left: var(--space-md);

          strong {
            margin-bottom: var(--space-sm);
          }

          span {
            color: var(--color-dark-gray);
            font-style: italic;
          }
        }
      }

      &:hover {
        background-color: var(--color-dark-blue);

        .detail,
        strong,
        span,
        .number_rank_top,
        .number_rank {
          color: var(--color-white);
        }
      }
    }
  }
}
