@import "../abstracts/mixins";

.contents-container {
  @include flex-column-center;
  width: 100%;

  .contents-detail {
    @include flex-column-center;
    width: 100%;
    padding: var(--space-lg) 0;
    border-bottom: 1px solid var(--color-light-gray);

    h4 {
      color: var(--color-dark-gray);
      margin-left: var(--space-xxl);
    }
  }
}

.contents-list {
  @include grid-column-center;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: var(--space-md);
}
