.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--space-xl);

  img {
    width: 40%;
    margin: var(--space-md) 0;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: var(--space-lg);
  }
}
